@import '~antd/dist/antd.css';

.App {
  text-align: center;
  font-size: 10px;
}
.sliderBox {
  height: 300px;
  margin: 50px 0;
  padding: 50px 0 0 100px;
  color: #f1f2f3;
  font-size: 16px;
}
.sliderBox > h3 {
  background-position: center;
  color: #f1f2f3;
  font-size: 30px;
}
.sliderBg1 {
  background: url(./image/mainBanner1.jpg) no-repeat center center;
  
}
.sliderBg2 {
  background-color: orange;
  background-image: url(./image/mainBanner2.jpg);
}
.sliderBg3 {
  background-color: yellow;
  background-image: url(./image/mainBanner3.jpg);
}
.sliderBg4 {
  background-color: green;
}
.sliderBg5 {
  background-color: blue;
}
.sliderBg6 {
  background-color: purple;
}
